<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML Pavement Condition Index API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

</head>



<body>

 <div class="login">
	<h1>Estimation of PCI Using Neural Network </h1>
  <div>
 	<img src="chart.jpg" alt="PCI"/>
 	</div>
     <!-- Main Input For Receiving Query to our ML -->
	 <!--alligator 	patching 	longitudinal 	Shoving 	potholes 	-->

    <form action="/predict" method="post">
      <div>
    	<input type="text" name="GATOR_CRACK_L" placeholder="GATOR_CRACK_L" required="required" />
      <input type="text" name="GATOR_CRACK_M" placeholder="GATOR_CRACK_M" required="required" />
      <input type="text" name="GATOR_CRACK_H" placeholder="GATOR_CRACK_H" required="required" />
    </div>
    <div>
      <input type="text" name="LONG_CRACK_L" placeholder="LONG_CRACK_L" required="required" />
      <input type="text" name="LONG_CRACK_M" placeholder="LONG_CRACK_M" required="required" />
      <input type="text" name="LONG_CRACK_H" placeholder="LONG_CRACK_H" required="required" />
</div>
<div>
      <input type="text" name="TRANS_CRACK_L" placeholder="TRANS_CRACK_L" required="required" />
      <input type="text" name="TRANS_CRACK_M" placeholder="TRANS_CRACK_M" required="required" />
      <input type="text" name="TRANS_CRACK_H" placeholder="TRANS_CRACK_H" required="required" />
</div>
<div>
      <input type="text" name="PATCH_A_L" placeholder="PATCH_A_L" required="required" />
      <input type="text" name="PATCH_A_M" placeholder="PATCH_A_M" required="required" />
      <input type="text" name="PATCH_A_H" placeholder="PATCH_A_H" required="required" />
</div>
<div>
      <input type="text" name="POTHOLES_NO_L" placeholder="POTHOLES_NO_L" required="required" />
      <input type="text" name="POTHOLES_NO_M" placeholder="POTHOLES_NO_M" required="required" />
      <input type="text" name="POTHOLES_NO_H" placeholder="POTHOLES_NO_H" required="required" />
      </div>
      <div>
      <input type="text" name="SHOVING_A" placeholder="SHOVING_A" required="required" />
</div>
</div>
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
        </div>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
